{% extends "main/base.html" %}

{% load static %}

{% block title %}Восстановление пароля{% endblock title %}

{% block all-content %}
<div class="login-box">
    <h3>
        Восстановление пароля
    </h3>
    <form id="signin" method='post' action="">
        {% csrf_token %}
        <div class="reg-form">
            <input id="form-input" type="text" name="email" placeholder="Почта">
        </div>
        <div class="input-div" style="top: -8px">
            <input type="image" class="" src="{% static 'img\arrow.png' %}">
        </div>
    </form>
</div>
{% endblock all-content %}