@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 18px;
    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(253,208,46,1) 100%);
}

.header {
    font-family: 'Lilita One Regular';
    padding: 50px 0 10px 0;
    justify-content: space-between;
    align-items: flex-end;
}

.header-text {
    padding: 4px;
    display: flex;
    justify-items: start;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 600;
}

.under-header {
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.no-search {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.matematics-logo {
    width: 250px;
}

p {
    margin-bottom: 5px;
    width: 100%;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-size: 36px;
}

h4 {
    margin: 0;
}

ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.content {
    background-color: white;
    margin-bottom: 200px;
    padding: 20px 20px 200px 20px;
    border-radius: 20px;
}

.main-block {
    display: flex;
    justify-content: space-between;
}

.tel-input {
    text-align: center;
    width: 45px;
    height: 25px;
    border-radius: 7px;
    border: 1px solid #353535; 
    border-radius: 5px;
    color: #303030;
    font-family: Tahoma; 
}

button {
    padding: 0;
    margin: 0;
    width: 25px;
    border-radius: 5px;
    background: #fff;
    color: #000000;
    border: 2px solid #000;
    border-color: #00000042;
    transition: 0.5s;
    font-size: 16px;
}

button:hover {
    border-color: #000;
}

.paginator {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.disabled {
    color: #00000042;
}

.disabled:hover {
    border-color: #00000042;
    cursor: default;
}

button#ready-button {
    width: fit-content;
    padding: 5px;
}

.categories > ul > li {
    margin-left: 42px;
}

.sort-box {
    margin: 8px 0;
}

.chosen-sort {
    font-weight: 700;
}

.part-select-buttons {
    border: 2px;
    border-style: solid;
    border-color: #00000042;
    border-radius: 5px;
}

.part-select-buttons > li > a {
    margin-left: 5px;
}

.search-box {
    display: flex;
    gap: 4px;
}

.task-count {
    box-sizing: content-box;
    height: 100%;
    padding: 10px 30px;
    margin: 0 30px;
    border: 1px;
    border-style: solid;
    border-color: #000042;
    border-radius: 5px;
}

.search-button {
    width: fit-content;
    padding: 3px;
}

.search-field {
    border: 2px solid #bdbdbd;
    border-radius: 5px;
}

.answer-input {
    width: 500px;
}

.task-img {
    width: 400px;
}

.end-test-button {
    width: 150px;
    margin-top: 50px;
    padding: 3px;
}

.timer {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 185px;
    padding: 5px;
    border: 1px solid #000042;
    border-width: 1px;
    border-radius: 7px;
    background-color: white;
}

.timer.sticky {
    position: fixed;
	top: 240px;
    right: 55px;
}

.box-result-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    width: 400px;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	text-align: center;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #dddddd;
}
.table td {
	text-align: center;
	border: 1px solid #dddddd;
	padding: 5px;
}

.right-answer {
    background-color: #91f783;
}

.wrong-answer {
    background-color: #f78383;
}

.footer {
    gap: 20px;
    font-family: 'Lilita One Regular';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    height: 200px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text > h1 {
    color: #666666;
    font-size: 30px;
}

.footer-text > h2 {
    color: #666666;
    font-size: 17px;
}

.footer > h4 {
    color: #666666;
}

#signin {
	height: 90px;
	width: 300px;
	border-radius: 8px;
	position: relative;
}

.reg-form {
    width: 280px;
    background-color: rgb(255, 215, 69);
    border-radius: 12px;
    padding: 10px 10px 0 10px;
}

#form-input {
    margin-bottom: 10px;
    border: 0;
    box-shadow: inset -100px -100px 0 rgb(255, 215, 69);
	outline: 0;
    position: relative;
}

.input-div {
	background-color: #fff;
	display: block;
	position: absolute;
	border-radius: 50px;
	z-index: 2;
	top: 47px;
	right: -12px;
	border: 6px solid #ffffff;
}

#signin input[type="image"]{
    object-fit: contain;
    background-color: rgb(255, 215, 69);
	display: block;
	width: 52px;
	height: 52px;
	border-radius: 50px;
	outline: 0;
	z-index: 1;
	font-size: 25px;
	text-align: center;
    padding: 13px;
}
#signin input[type="image"]:hover{
	box-shadow: 0 0 10px rgba(253, 208, 46, 1);
	cursor: pointer;
}
.p-reg-form {
    text-align: center;;
    white-space: nowrap;
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#signin p > a{
	color: rgb(111, 119, 135);
	text-decoration: none;
}
#signin p > a:hover{
	border-bottom: 1px solid;
}

.user-info {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    height: 175px;
    width: 291px;
}

.user-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button-image {
    vertical-align: middle;
    width: 17px;
    height: 17px;
}

.avatar {
    max-width: 110px;
    max-height: 150px;
}

.big-avatar {
    width: 400px;
}

.profile-change {
    display: flex;
    justify-content: space-between;
}

.protile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

.save-button {
    width: fit-content;
    padding: 3px 8px;
}

.statistics-table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
    margin-top: 10px;
}
.statistics-table th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border: 1px solid #ddd;
}
.statistics-table td {
	text-align: left;
	border: 1px solid #ddd;
	padding: 10px 25px;
	font-size: 14px;
	vertical-align: top;
}
.statistics-table tr:nth-child(even){
	background: #f3f3f3;
}
td.delete-link{
    border: 0;
	background: #fff;
    width: 50px;
}

.delete-link:hover{
    text-decoration-line: underline;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ai-ask {
    color: #979797;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    margin-left: 25px;
    margin-bottom: 3px;
}

.ai-ask:hover {
    color: #000;
    text-decoration-line: underline;
}

#loader {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    border: 3px solid #ccc;
    border-top: 3px solid #979797;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page-img {
    height: 32px;
    margin-right: 5px;
}

.add_to_favorite {
    transition: transform 0.2s ease;
}

.add_to_favorite.active {
    transform: scale(1.1);
}

.main-page-buttons {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    gap: 20px;
}

.main-page-button {
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 12px;
    background-color: #fff;
}

.task-button {
    width: fit-content;
    padding: 5px;
}

.close-button {
    width: fit-content;
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hidden {
    display: none;
}

.modal-window {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    border: 1px solid;
}

.modal-window.sticky {
    position: fixed;
}

.verification-link {
    font-size: 10px;
    text-align: center;
}

.verification-link:hover {
    text-decoration-line: underline;
}

@font-face {
    font-family: "Lilita One Regular"; 
    src: url("../fonts/Lilita\ One\ Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 